<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs')  %>
    <div class="about content">
      <h2>About</h2>
      <p>
        EJS, or Embedded JavaScript, is a popular template engine for Node. js
        and web development. It allows you to generate dynamic HTML content by
        embedding JavaScript code within your HTML templates.
      </p>
      <p>
        EJS, or Embedded JavaScript, is a popular template engine for Node. js
        and web development. It allows you to generate dynamic HTML content by
        embedding JavaScript code within your HTML templates.
      </p>
      <p>
        EJS, or Embedded JavaScript, is a popular template engine for Node. js
        and web development. It allows you to generate dynamic HTML content by
        embedding JavaScript code within your HTML templates.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
